<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form class="jotform-form probootstrap-form" method="post" name="form_213521348385456" id="213521348385456" accept-charset="utf-8" autocomplete="on">
	{% csrf_token %}
        Enter Institute Name: <input type="text" name="inst-name"><br>
        Enter Examination: <input type="text" name="exam-name"><br>
        Enter Student Name: <input type="text" name="student-name"><br>
        Enter Student's Father Name: <input type="text" name="father-name"><br>
        Enter Student's Mother Name: <input type="text" name="mother-name"><br>
        Enter Student's Class: <input type="text" name="class-number"><br>
        Enter Student's Roll Number: <input type="text" name="roll-number"><br>
         <button type="submit" class="form-submit-button submit-button jf-form-buttons">
              Submit
            </button>
    </form>
</body>
</html>