<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="POST" id="register-form" class="register-form" enctype="multipart/form-data">
					{% csrf_token %}
                        <h2 class="form-title">Add a question</h2>

						<div class="form-group">
                            <label class="u-label">Enter Class</label>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							{{form.classes}}
                        </div>
                        <div class="form-group">
                            <label class="u-label">Subject</label>
                            &nbsp;&nbsp;&nbsp;&nbsp;
							{{form.subject}}
                        </div>
                        <div class="form-group">
							<label class="u-label align" data-align="top">Chapter</label>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							{{form.chapter}}
                        </div>

                        <div class="form-group">
                            <label class="u-label">Scenario</label>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<textarea name="scenario" placeholder="Type Bijoy Here" cols="50" rows="5"></textarea>

                        </div>
                        <div class="form-group">
                            <label class="u-label">Question Image</label>
                            &nbsp;&nbsp;&nbsp;&nbsp;
							{{form.ques_img}}
                        </div>
                        <div class="form-group">
                            <label class="u-label">Question 1</label>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<textarea name="qa" placeholder="Type Bijoy Here" cols="30" rows="2"></textarea>

                        </div>
                        <div class="form-group">
                            <label class="u-label">Question 2</label>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<textarea name="qb" placeholder="Type Bijoy Here" cols="30" rows="2"></textarea>

                        </div>
                        <div class="form-group">
                            <label class="u-label">Question 3</label>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<textarea name="qc" placeholder="Type Bijoy Here" cols="30" rows="2"></textarea>

                        </div>
                        <div class="form-group">
                            <label class="u-label">Question 4</label>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<textarea name="qd" placeholder="Type Bijoy Here" cols="30" rows="2"></textarea>

                        </div>

                        <button type="submit" name="signup_submit" id="submit_button" class="form-submit" value="Sign up">Submit</button>

                    </form>
</body>
</html>