<!DOCTYPE html>
<html>
<head>
	<title>TosEdu Homepage</title>
	<meta name="viewport" content="width=device-width">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="/static/css/all.css">
	<link rel="stylesheet" type="text/css" href="/static/css/all.min.css">
	<link rel="stylesheet" type="text/css" href="/static/css/lightbox.css">
	<link rel="stylesheet" type="text/css" href="/static/css/flexslider.css">
	<link rel="stylesheet" type="text/css" href="/static/css/owl.carousel.css">
	<link rel="stylesheet" type="text/css" href="/static/css/owl.theme.default.css">
	<link rel="stylesheet" type="text/css" href="/static/css/jquery.rateyo.css"/>
	<!-- <link rel="stylesheet" type="text/css" href="css/jquery.mmenu.all.css" /> -->
	<!-- <link rel="stylesheet" type="text/css" href="css/meanmenu.min.css"> -->
	<link rel="stylesheet" type="text/css" href="/static/css/inner-page-style.css">
	<link rel="stylesheet" type="text/css" href="/static/css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Raleway:400,500,600,700" rel="stylesheet">
</head>
<body>
	<div id="page" class="site" itemscope itemtype="http://schema.org/LocalBusiness">
		<header class="site-header">
			<div class="top-header">
				<div class="container">
					<div class="top-header-left">
						<div class="top-header-block">
							<a href="mailto:tostechllc@gmail.com" itemprop="email"><i class="fas fa-envelope"></i> tostechllc@gmail.com</a>
						</div>
						<div class="top-header-block"><a href="tel:+8801921189005" itemprop="telephone"><i class="fas fa-phone"></i> +8801921189005</a>
						</div>
					</div>
					<div class="top-header-right">
						<div class="social-block">
							<ul class="social-list">

								<li><a href=""><i class="fab fa-google-plus-g"></i></a></li>
								<li><a href="https://www.facebook.com/fantosfast/" target="_blank"><i class="fab fa-facebook-square"></i></a></li>
								<li><a href="https://www.facebook.com/fantosfast/"target="_blank"><i class="fab fa-facebook-messenger"></i></a></li>
								<li><a href=""><i class="fab fa-twitter"></i></a></li>
								<li><a href=""><i class="fab fa-skype"></i></a></li>
							</ul>
						</div>
						<div class="login-block">
							{% if user %}
							<a><form class="logout-link" action="{% url 'accounts:logout' %}" method="post">
                                        {% csrf_token %}
                            <button type="submit" class="cr-btn cr-btn-sm">Logout</button>
                            </form>
                            </a>
							{% else %}
							<a href="">Login /</a>
							<a href="">Register</a>
							{% endif %}

						</div>
					</div>
				</div>
			</div>
			<!-- Top header Close -->
			<div class="main-header">
				<div class="container">
					<div class="logo-wrap" itemprop="logo">
						<img src="/static/images/site-logo.png" alt="Logo Image">
						<!-- <h1>Education header</h1> -->
					</div>
					<div class="nav-wrap">
						<nav class="nav-desktop">
							<ul class="menu-list">
								<li><a href="{% url 'articles:list' %}" style="padding-top: 3px;">Home</a></li>
								<li class="menu-parent">Question Maker
									<ul class="sub-menu">
										<li><a href="{% url 'articles:canvas' %}">Question Canvas</a></li>
										<li><a href="{% url 'articles:lessThanSix' %}">Class Less than Six</a></li>
										<li><a href="{% url 'articles:englishQuestions' %}">English Question</a></li>
										<li class="menu-parent">Child
											<ul class="sub-menu">
												<li><a href="">Grand-child</a></li>
												<li><a href="">Grand-child</a></li>
											</ul>
										</li>
									</ul>
								</li>
								<li class="menu-parent">Routine & Admit
									<ul class="sub-menu">
										<li><a href="{% url 'articles:routine' %}">Routine</a></li>
										<li><a href="{% url 'articles:admitCard' %}">Admit Card</a></li>
									</ul>
								</li>


								<li class="menu-parent">Lecture Planning
									<ul class="sub-menu">
										<li><a href="">Class 1</a></li>
										<li><a href="">Class 2</a></li>
										<li><a href="">Class 3</a></li>
										<li><a href="">Class 4</a></li>
										<li><a href="">Class 5</a></li>
									</ul>
								</li>




								<li><a href="">Portal</a></li>
							<li><a href="">About</a></li>
								<li><a href="{% url 'articles:user_profile' %}"><img src="/static/images/user.png" width="25" height="27"></a></li>
								{% if user %}

								<li><img src="/static/images/icons8-coin-25.png"> <a href="{% url 'articles:purchasePoint' %}" style="text-decoration: none;  vertical-align: top;line-height: 0.8;
								 font-size: 3rem; font-family: Times New Roman ">{{ user.point }}</a> </li>
								{% endif %}
							</ul>
						</nav>
						<div id="bar">
							<i class="fas fa-bars"></i>
						</div>
						<div id="close">
							<i class="fas fa-times"></i>
						</div>
					</div>
				</div>
			</div>
		</header>
		<!-- Header Close -->

		<div class="banner">
			<div class="owl-four owl-carousel" itemprop="image">
				<img style="opacity: 70%;" src="/static/images/page-banner.png" alt="Image of Bannner">
				<img src="/static/images/page-banner2.png" alt="Image of Bannner">
				<img src="/static/images/page-banner3.png" alt="Image of Bannner">
			</div>
			<div class="container" itemprop="description">
				<h1 style="background: rgba(51, 170, 51, .2">welcome to TosEdu Pro</h1>
				<h3 style="background: rgba(51, 170, 51, .2">With our advance features you can't imagine...</h3>
			</div>
			 <div id="owl-four-nav" class="owl-nav"></div>
		</div>
		<!-- <div class="banner">
			<div class="owl-five owl-carousel owl-theme">
	            <div class="item-video">
            		<iframe width="100%" height="450" src="https://www.youtube.com/" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
            		</iframe>
	            </div>
	            <div class="item-video">
	            	<iframe width="100%" height="450" src="https://www.youtube.com/" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	            </div>
	            <div class="item-video">
	            	<iframe width="100%" height="450" src="https://www.youtube.com/embed/" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	            </div>
	            <div class="item-video">
            		<iframe width="100%" height="450" src="https://www.youtube.com/embed/" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
            		</iframe>
	            </div>
	            <div class="item-video">
	            	<iframe width="100%" height="450" src="https://www.youtube.com/embed/" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	            </div>
	            <div class="item-video">
	            	<iframe width="100%" height="450" src="https://www.youtube.com/embed/" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	            </div>
          </div>
		</div>
		 Banner Close -->


		 <div class="page-heading">
			<div class="container">
				<h2>Our Features</h2>
			</div>
		</div>

		<div class="learn-courses">
			<div class="container">
				<div class="courses">
					<div class="owl-one owl-carousel">
						<div class="box-wrap" itemprop="event" itemscope itemtype=" http://schema.org/Course">
							<div class="img-wrap" itemprop="image"><img src="/static/images/feature2.png" alt="courses picture"></div>
								<a href="#" class="learn-desining-banner" itemprop="name">Question Canvas>>></a>
							<div class="box-body" itemprop="description">
								<p>After added some question from qustion maker, you will find your ready full question here. You can Edit or Print from here.</p>

							</div>
						</div>

						<div class="box-wrap" itemprop="event" itemscope itemtype=" http://schema.org/Course">
							<div class="img-wrap"  itemprop="image"><img src="/static/images/feature3.png" alt="courses picture"></div>
								<a href="#" class="learn-desining-banner" itemprop="name">Lecture Planning >>></a>
							<div class="box-body" itemprop="description">
								<p>For your class you will find here your full lecture planning from here. You can Edit or Print from here. &nbsp; &nbsp; &nbsp; &nbsp;</p>

							</div>
						</div>

						<div class="box-wrap" itemprop="event" itemscope itemtype=" http://schema.org/Course">
							<div class="img-wrap"  itemprop="image"><img src="/static/images/latest1.png" alt="courses picture"></div>
								<a href="#" class="learn-desining-banner" itemprop="name"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Routine &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
							<div class="box-body" itemprop="description">
								<p>A  full editable Routine for exam ready here.Here you will find some of tamplete.You can Edit or Print from here. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp;</p>

							</div>
						</div>

						<div class="box-wrap" itemprop="event" itemscope itemtype=" http://schema.org/Course">
							<div class="img-wrap"  itemprop="image"><img src="/static/images/latest2.png" alt="courses picture"></div>
								<a href="#" class="learn-desining-banner" itemprop="name"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Admit Card &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
							<div class="box-body" itemprop="description">
								<p>A  full editable Admit Card for exam ready here.Here you will find some of tamplete.You can Edit or Print from here. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp</p>

							</div>
						</div>

						<div class="box-wrap" itemprop="event" itemscope itemtype=" http://schema.org/Course">
							<div class="img-wrap"  itemprop="image"><img src="/static/images/feature4.png" alt="courses picture"></div>
								<a href="#" class="learn-desining-banner" itemprop="name">&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Portal&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </a>
							<div class="box-body" itemprop="description">
								<p>We are working on it. It'll publish soon. Here a lot of features waiting for you.It will very helpfull for teachers and students.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>

							</div>
						</div>

						<div class="box-wrap" itemprop="event" itemscope itemtype=" http://schema.org/Course">
							<div class="img-wrap"  itemprop="image"><img src="/static/images/feature1.png" alt="courses picture"></div>
								<a href="#" class="learn-desining-banner" itemprop="name">Question Maker >>></a>
							<div class="box-body" itemprop="description">
								<p>There lot of tampletes available.For any class you can choose question and add this into canvas for print it.</p>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Popular courses End -->


		<section class="page-heading">
			<div class="container">
				<h2>gallery</h2>
			</div>
		</section>
		<section class="gallery-images-section" itemprop="image" itemscope itemtype=" http://schema.org/ImageGallery">
			<div class="gallery-img-wrap">
				<a href="/static/images/gallery-img1.jpg" data-lightbox="example-set" data-title="Click the right half of the image to move forward.">
					<img src="/static/images/gallery-img1.jpg" alt="gallery-images">
				</a>
			</div>
			<div class="gallery-img-wrap">
				<a href="/static/images/gallery-img2.jpg" data-lightbox="example-set" data-title="Click the right half of the image to move forward.">
					<img src="/static/images/gallery-img2.jpg" alt="gallery-images">
				</a>
			</div>
			<div class="gallery-img-wrap">
				<a href="/static/images/gallery-img3.jpg" data-lightbox="example-set" data-title="Click the right half of the image to move forward.">
					<img src="/static/images/gallery-img3.jpg" alt="gallery-images">
				</a>
			</div>
			<div class="gallery-img-wrap">
				<a href="/static/images/gallery-img4.jpg" data-lightbox="example-set" data-title="Click the right half of the image to move forward.">
					<img src="/static/images/gallery-img4.jpg" alt="gallery-images">
				</a>
			</div>
			<div class="gallery-img-wrap">
				<a href="/static/images/gallery-img5.jpg" data-lightbox="example-set" data-title="Click the right half of the image to move forward.">
					<img src="/static/images/gallery-img5.jpg" alt="gallery-images">
				</a>
			</div>
			<div class="gallery-img-wrap">
				<a href="/static/images/gallery-img6.jpg" data-lightbox="example-set" data-title="Click the right half of the image to move forward.">
					<img src="/static/images/gallery-img6.jpg" alt="gallery-images">
				</a>
			</div>
			<div class="gallery-img-wrap">
				<a href="/static/images/gallery-img7.jpg" data-lightbox="example-set" data-title="Click the right half of the image to move forward.">
					<img src="/static/images/gallery-img7.jpg" alt="gallery-images">
				</a>
			</div>
			<div class="gallery-img-wrap">
				<a href="/static/images/gallery-img8.jpg" data-lightbox="example-set" data-title="Click the right half of the image to move forward.">
					<img src="/static/images/gallery-img8.jpg" alt="gallery-images">
				</a>
			</div>
			<div class="gallery-img-wrap">
				<a href="/static/images/gallery-img9.jpg" data-lightbox="example-set" data-title="Click the right half of the image to move forward.">
					<img src="/static/images/gallery-img9.jpg" alt="gallery-images">
				</a>
			</div>
			<div class="gallery-img-wrap">
				<a href="/static/images/gallery-img10.jpg" data-lightbox="example-set" data-title="Click the right half of the image to move forward.">
					<img src="/static/images/gallery-img10.jpg" alt="gallery-images">
				</a>
			</div>
			<div class="gallery-img-wrap">
				<a href="/static/images/gallery-img11.jpg" data-lightbox="example-set" data-title="Click the right half of the image to move forward.">
					<img src="/static/images/gallery-img11.jpg" alt="gallery-images">
				</a>
			</div>
			<div class="gallery-img-wrap">
				<a href="/static/images/gallery-img12.jpg" data-lightbox="example-set" data-title="Click the right half of the image to move forward.">
					<img src="/static/images/gallery-img12.jpg" alt="gallery-images">
				</a>
			</div>
		</section>
		<!-- End of gallery Images -->

		<section class="page-heading">
			<div class="container">
				<h2>latest news</h2>
			</div>
		</section>
		<section class="latest-news">
			<div class="container" itemprop="event" itemscope itemtype=" http://schema.org/Event">
				<div class="owl-two owl-carousel">
					<div class="news-wrap" itemprop="event">
						<div class="news-img-wrap" itemprop="image">
							<img src="/static/images/latest2.png" alt="Latest News Images">
						</div>
						<div class="news-detail" itemprop="description">
							<a href=""><h1>We added Routine tamplete.</h1></a>
							<h2 itemprop="startDate">By Admin | 22 Mar. 2022</h2>

							<p>Recently we add this features to our site. From here you can edit or modify and download your custom Routine..</p>
						</div>
					</div>

					<div class="news-wrap" itemprop="event">
						<div class="news-img-wrap" itemprop="image">
							<img src="/static/images/latest1.png" alt="Latest News Images">
						</div>
						<div class="news-detail" itemprop="description">
							<a href=""><h1>A new Admit Card maker now in our site.</h1></a>
							<h2 itemprop="startDate">By Admin | 20 February. 2022</h2>

							<p>We just added this features to our site. From here you can edit or modify and download your custom Admit card..</p>
						</div>
					</div>



				</div>
			</div>
		</section>
		<!-- Latest News CLosed -->

		<section class="whyUs-section">
			<div class="container">
				<div class="featured-points">
					<ul>
						<li><i class="fas fa-book"></i> Make questions for any class</li>
						<li><i class="fas fa-money-check-alt"></i>Make Admit Card or Routine</li>
						<li><i class="fas fa-chalkboard-teacher"></i> Find your lecture planning</li>
						<li> <i class="fas fa-book"></i> A potal for teahcers</li>
					</ul>
				</div>
				<div class="whyus-wrap">
					<h1>why us?</h1>
					<p style=" font-size: 30px;" itemprop="description">For the first time we started a webapp in Bangladesh. Here you can easily make questions for Examination for any classes.
						You can also make admit card or routine or lecture planning from here. More features coming soon....</p>

					<a href="#" class="read-more-btn">read more</a>
				</div>
			</div>
		</section>
		<!-- Closed WhyUs section -->
		<section class="query-section">
			<div class="container">
				<p>Any Queries?  &nbsp;  &nbsp; &nbsp; &nbsp;  Ask us a question at<a href="tel:+8801921189005"><i class="fas fa-phone"></i> +8801921189005</a></p>
			</div>
		</section>
		<!-- End of Query Section -->
		<footer class="page-footer" itemprop="footer" itemscope itemtype="http://schema.org/WPFooter">
			<div class="footer-first-section">
				<div class="container">
					<div class="box-wrap" itemprop="about">
						<header>
							<h1>about</h1>
						</header>
						<p>TosEdu a great start for our education  institute. It's very easy to use and important for teachers</p>

						<h4><a href="tel:+8801921189005"><i class="fas fa-phone"></i> +8801921189005</a></h4>
						<h4><a href="mailto:tostechllc@gmail.com"><i class="fas fa-envelope"></i> tostechllc@gmail.com</a></h4>
						<h4><a href=""><i class="fas fa-map-marker-alt"></i>Gazipur, Dhaka, Bangladesh</a></h4>
					</div>



					<div class="box-wrap">
						<header>
							<h1>Recent Features</h1>
						</header>
						<div class="recent-course-wrap">
							<img src="/static/images/ui2.png" alt="admit">
							<a href=""><div class="course-name">
								<h3>Admit Card</h3>
								<p><span>🪙10</span> 🪙10</p>
							</div></a>
						</div>
						<div class="recent-course-wrap">
							<img src="/static/images/ui1.png" alt="rotine">
							<a href=""><div class="course-name">
								<h3>Routine</h3>
								<p><span>🪙15</span> 🪙15</p>
							</div></a>
						</div>
					</div>

					<div class="box-wrap">
						<header>
							<h1>quick contact</h1>
						</header>
						<section class="quick-contact">
							<input type="email" name="email" placeholder="Your Email*">
							<textarea placeholder="Type your message*"></textarea>
							<button>send message</button>
						</section>
					</div>

				</div>
			</div>
			<!-- End of box-Wrap -->
			<div class="footer-second-section">
				<div class="container">
					<hr class="footer-line">
					<ul class="social-list">
						<li><a href=""><i class="fab fa-facebook-square"></i></a></li>
						<li><a href=""><i class="fab fa-twitter"></i></a></li>
						<li><a href=""><i class="fab fa-skype"></i></a></li>
						<li><a href=""><i class="fab fa-youtube"></i></a></li>
						<li><a href=""><i class="fab fa-instagram"></i></a></li>
					</ul>
					<hr class="footer-line">
				</div>
			</div>
			<div class="footer-last-section">
				<div class="container">
					<p>Copyright 2022 &copy; tosfast.com <span> | </span> Designed and developed by Techrz IT<a href="https://labtheme.com">....</a></p>
				</div>
			</div>
		</footer>



	</div>
	<script type="text/javascript" src="/static/js/jquery-3.3.1.min.js"></script>
	<script type="text/javascript" src="/static/js/lightbox.js"></script>
	<script type="text/javascript" src="/static/js/all.js"></script>
	<script type="text/javascript" src="/static/js/isotope.pkgd.min.js"></script>
	<script type="text/javascript" src="/static/js/owl.carousel.js"></script>
	<script type="text/javascript" src="/static/js/jquery.flexslider.js"></script>
	<script type="text/javascript" src="/static/js/jquery.rateyo.js"></script>
	<!-- <script type="text/javascript" src="js/jquery.mmenu.all.js"></script> -->
	<!-- <script type="text/javascript" src="js/jquery.meanmenu.min.js"></script> -->
	<script type="text/javascript" src="/static/js/custom.js"></script>
</body>
</html>