<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
         Questions
        {% for questionss in questionss %}
    <h1>Question:</h1>
        {% if questionss.ques_img %}
        <img src="{{ questionss.ques_img.url }}" alt="Error" height="200px" width="200px">
        {% endif %}
        <h4>{{ questionss.scenario }}</h4>
        <h4>{{ questionss.q_a }}</h4>
        <h4>{{ questionss.q_b }}</h4>
        <h4>{{ questionss.q_c }}</h4>
        <h4>{{ questionss.q_d }}</h4>
         <a href="{% url 'articles:addquestion' questionss.id %}">Add this question</a>
        {% endfor %}
    <br>
    Selective Questions
        {% for questionsSelective in questionsSelective %}
    <h1>Question:</h1>
        {% if questionsSelective.ques_img %}
        <img src="{{ questionsSelective.ques_img.url }}" alt="Error" height="200px" width="200px">
        {% endif %}
        <h4>{{ questionsSelective.scenario }}</h4>
    <ul style="list-style-type:circle;">
        <li>{{ questionsSelective.q_a }}</li>
        <li>{{ questionsSelective.q_b }}</li>
        <li>{{ questionsSelective.q_c }}</li>
        <li>{{ questionsSelective.q_d }}</li>
    </ul>
         <a href="{% url 'articles:addquestionSelective' questionsSelective.id %}">Add this question</a>
        {% endfor %}
</head>
<body>

</body>
</html>