<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
        <style type="text/css" media="print">
    @page
    {
        size:  auto;   /* auto is the initial value */
        margin: 0mm;  /* this affects the margin in the printer settings */
    }

    html
    {
        background-color: #FFFFFF;
        margin: 0px;  /* this affects the margin on the html before sending to printer */
    }

    body
    {
        margin: 10mm 15mm 10mm 15mm; /* margin you want for the content */
    }
    </style>
</head>
<body>
{% for canvass in canvass %}
<h1>Question:</h1>
{% if canvass.ques_img %}
<img src="{{ canvass.ques_img.url }}" alt="Error" height="200px" width="200px">
{% endif %}
<h4>{{ canvass.scenario }}</h4>
<h4>{{ canvass.q_a }}</h4>
<h4>{{ canvass.q_b }}</h4>
<h4>{{ canvass.q_c }}</h4>
<h4>{{ canvass.q_d }}</h4>

{% endfor %}
{% for canvassSelective in canvassSelective %}
<h1>Question:</h1>
{% if canvassSelective.ques_img %}
<img src="{{ canvassSelective.ques_img.url }}" alt="Error" height="200px" width="200px">
{% endif %}
<h4>{{ canvassSelective.scenario }}</h4>
<ul style="list-style-type:circle;">
<li>{{ canvassSelective.q_a }}</li>
<li>{{ canvassSelective.q_b }}</li>
<li>{{ canvassSelective.q_c }}</li>
<li>{{ canvassSelective.q_d }}</li>
</ul>
{% endfor %}

<button id="togglee" onclick="action(),window.print(), timeFunction()">Print</button>
<br>
<script>
    var hidden = false;
    function action() {
        hidden = !hidden;
        if(hidden) {
            document.getElementById('togglee').style.visibility = 'hidden';
        } else {
            document.getElementById('togglee').style.visibility = 'visible';
        }
    }
    function timeFunction() {
            setTimeout(function(){
             document.getElementById('togglee').style.visibility = 'visible';
             }, 1000);
        }
</script>
</body>
</html>