<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>print</title>
</head>
<body>
{% for canvass in canvass %}
<h1>Question:</h1>
{% if canvass.ques_img %}
<img src="{{ canvass.ques_img.url }}" alt="Error" height="200px" width="200px">
{% endif %}
<h4>{{ canvass.scenario }}</h4>
<h4>{{ canvass.q_a }}</h4>
<h4>{{ canvass.q_b }}</h4>
<h4>{{ canvass.q_c }}</h4>
<h4>{{ canvass.q_d }}</h4>

{% endfor %}

<button id="togglee" onclick="action(),window.print(), timeFunction()">Print</button>
<br>
<script>
    var hidden = false;
    function action() {
        hidden = !hidden;
        if(hidden) {
            document.getElementById('togglee').style.visibility = 'hidden';
        } else {
            document.getElementById('togglee').style.visibility = 'visible';
        }
    }
    function timeFunction() {
            setTimeout(function(){
             document.getElementById('togglee').style.visibility = 'visible';
             }, 1000);
        }
</script>
</body>
</html>