<!DOCTYPE html>
<html>

<body>
    <h1 align="center">Nobodoy Ideal School & College</h1>
    <h2 align="center">TIME TABLE</h2>
    <h2 align="center">Class Play to Ten</h2>

    <table border="5" cellspacing="0" align="center">
        <!--<caption>Timetable</caption>-->
        <tr>
            <td align="center" height="50"
                width="100"><br>
                <b>Class</b></br>
            </td>
            <td align="center" height="50"
                width="100" colspan="7">
                <b>Date, Weekday & Subject</b>
            </td>
        </tr>
        <tr>
            <td align="center" height="50"
                width="100">
            </td>
            <td align="center" height="50"
                width="100">
                <input type="date" name="date" placeholder="Date..">
                <input type="text" name="weekday" placeholder="Weekday..">
            </td>
            <td align="center" height="50"
                width="100">
                <input type="date" name="date2" placeholder="Date..">
                <input type="text" name="weekday2" placeholder="Weekday..">
            </td>
            <td align="center" height="50"
                width="100">
                <input type="date" name="date3" placeholder="Date..">
                <input type="text" name="weekday3" placeholder="Weekday..">
            </td>
            <td align="center" height="50"
                width="100">
                <input type="date" name="date4" placeholder="Date..">
                <input type="text" name="weekday4" placeholder="Weekday..">
            </td>
            <td align="center" height="50"
                width="100">
                <input type="date" name="date5" placeholder="Date..">
                <input type="text" name="weekday5" placeholder="Weekday..">
            </td>
            <td align="center" height="50"
                width="100">
                <input type="date" name="date6" placeholder="Date..">
                <input type="text" name="weekday6" placeholder="Weekday..">
            </td>
            <td align="center" height="50"
                width="100">
                <input type="date" name="date7" placeholder="Date..">
                <input type="text" name="weekday7" placeholder="Weekday..">
            </td>
        </tr>
        <tr>
            <td align="center" height="50">
                <b>Play</b></td>
            <td align="center" height="50"><input type="text" placeholder="Subject.."></td>
            <td align="center" height="50"><input type="text" placeholder="Subject.."></td>
            <td align="center" height="50"><input type="text" placeholder="Subject.."></td>
            <td align="center" height="50"><input type="text" placeholder="Subject.."></td>
            <td align="center" height="50"><input type="text" placeholder="Subject.."></td>
            <td align="center" height="50"><input type="text" placeholder="Subject.."></td>
            <td align="center" height="50"><input type="text" placeholder="Subject.."></td>
        </tr>
        <tr>
            <td align="center" height="50">
                <b>Nursery</b>
            </td>
            <td align="center"
                height="50"><input type="text" placeholder="Subject..">
            </td>
            <td align="center" height="50"><input type="text" placeholder="Subject.."></td>
            <td align="center" height="50"><input type="text" placeholder="Subject.."></td>
            <td align="center" height="50"><input type="text" placeholder="Subject.."></td>
            <td align="center" height="50"><input type="text" placeholder="Subject.."></td>
            <td align="center" height="50"><input type="text" placeholder="Subject.."></td>
            <td align="center" height="50"><input type="text" placeholder="Subject.."></td>
        </tr>
        <tr>
            <td align="center" height="50">
                <b>Class 1</b>
            </td>
            <td align="center" height="50"><input type="text" placeholder="Subject.."></td>
            <td align="center" height="50"><input type="text" placeholder="Subject.."></td>
            <td align="center" height="50"><input type="text" placeholder="Subject.."></td>
            <td align="center" height="50"><input type="text" placeholder="Subject.."></td>
            <td align="center" height="50"><input type="text" placeholder="Subject.."></td>
            <td align="center" height="50"><input type="text" placeholder="Subject.."></td>
            <td align="center" height="50"><input type="text" placeholder="Subject.."></td>
        </tr>
        <tr>
            <td align="center" height="50">
                <b>Class 2</b>
            </td>
            <td align="center" height="50"><input type="text" placeholder="Subject.."></td>
            <td align="center" height="50"><input type="text" placeholder="Subject.."></td>
            <td align="center" height="50"><input type="text" placeholder="Subject.."></td>
            <td align="center"
                height="50"><input type="text" placeholder="Subject..">
            </td>
            <td align="center" height="50"><input type="text" placeholder="Subject.."></td>
            <td align="center" height="50"><input type="text" placeholder="Subject.."></td>
            <td align="center" height="50"><input type="text" placeholder="Subject.."></td>
        </tr>
        <tr>
            <td align="center" height="50">
                <b>Class 3</b>
            </td>
            <td align="center"
                height="50"><input type="text" placeholder="Subject..">
            </td>
            <td align="center" height="50"><input type="text" placeholder="Subject.."></td>
            <td align="center" height="50"><input type="text" placeholder="Subject.."></td>
            <td align="center" height="50"><input type="text" placeholder="Subject.."></td>
            <td align="center" height="50"><input type="text" placeholder="Subject.."></td>
            <td align="center" height="50"><input type="text" placeholder="Subject.."></td>
            <td align="center" height="50"><input type="text" placeholder="Subject.."></td>
        </tr>
        <tr>
            <td align="center" height="50">
                <b>Class 4</b>
            </td>
            <td align="center" height="50"><input type="text" placeholder="Subject.."></td>
            <td align="center" height="50"><input type="text" placeholder="Subject.."></td>
            <td align="center" height="50"><input type="text" placeholder="Subject.."></td>
            <td align="center"
                height="50"><input type="text" placeholder="Subject..">
            </td>
            <td align="center" height="50"><input type="text" placeholder="Subject.."></td>
            <td align="center" height="50"><input type="text" placeholder="Subject.."></td>
            <td align="center" height="50"><input type="text" placeholder="Subject.."></td>
        </tr>
        <tr>
            <td align="center" height="50">
                <b>Class 5</b>
            </td>
            <td align="center" height="50"><input type="text" placeholder="Subject.."></td>
            <td align="center" height="50"><input type="text" placeholder="Subject.."></td>
            <td align="center" height="50"><input type="text" placeholder="Subject.."></td>
            <td align="center"
                height="50"><input type="text" placeholder="Subject..">
            </td>
            <td align="center" height="50"><input type="text" placeholder="Subject.."></td>
            <td align="center" height="50"><input type="text" placeholder="Subject.."></td>
            <td align="center" height="50"><input type="text" placeholder="Subject.."></td>
        </tr>
        <tr>
            <td align="center" height="50">
                <b>Class 6</b>
            </td>
            <td align="center" height="50"><input type="text" placeholder="Subject.."></td>
            <td align="center" height="50"><input type="text" placeholder="Subject.."></td>
            <td align="center" height="50"><input type="text" placeholder="Subject.."></td>
            <td align="center"
                height="50"><input type="text" placeholder="Subject..">
            </td>
            <td align="center" height="50"><input type="text" placeholder="Subject.."></td>
            <td align="center" height="50"><input type="text" placeholder="Subject.."></td>
            <td align="center" height="50"><input type="text" placeholder="Subject.."></td>
        </tr>
        <tr>
            <td align="center" height="50">
                <b>Class 7</b>
            </td>
            <td align="center" height="50"><input type="text" placeholder="Subject.."></td>
            <td align="center" height="50"><input type="text" placeholder="Subject.."></td>
            <td align="center" height="50"><input type="text" placeholder="Subject.."></td>
            <td align="center"
                height="50"><input type="text" placeholder="Subject..">
            </td>
            <td align="center" height="50"><input type="text" placeholder="Subject.."></td>
            <td align="center" height="50"><input type="text" placeholder="Subject.."></td>
            <td align="center" height="50"><input type="text" placeholder="Subject.."></td>
        </tr>
        <tr>
            <td align="center" height="50">
                <b>Class 8</b>
            </td>
            <td align="center" height="50"><input type="text" placeholder="Subject.."></td>
            <td align="center" height="50"><input type="text" placeholder="Subject.."></td>
            <td align="center" height="50"><input type="text" placeholder="Subject.."></td>
            <td align="center"
                height="50"><input type="text" placeholder="Subject..">
            </td>
            <td align="center" height="50"><input type="text" placeholder="Subject.."></td>
            <td align="center" height="50"><input type="text" placeholder="Subject.."></td>
            <td align="center" height="50"><input type="text" placeholder="Subject.."></td>
        </tr>
        <tr>
            <td align="center" height="50"><b>Class 9</b></td>
            <td align="center" height="50"><input type="text" placeholder="Subject.."></td>
            <td align="center" height="50"><input type="text" placeholder="Subject.."></td>
            <td align="center" height="50"><input type="text" placeholder="Subject.."></td>
            <td align="center" height="50"><input type="text" placeholder="Subject.."></td>
            <td align="center" height="50"><input type="text" placeholder="Subject.."></td>
            <td align="center" height="50"><input type="text" placeholder="Subject.."></td>
            <td align="center" height="50"><input type="text" placeholder="Subject.."></td>
        </tr>
        <tr>
            <td align="center" height="50"><b>Class 10</b></td>
            <td align="center" height="50"><input type="text" placeholder="Subject.."></td>
            <td align="center" height="50"><input type="text" placeholder="Subject.."></td>
            <td align="center" height="50"><input type="text" placeholder="Subject.."></td>
            <td align="center"height="50"><input type="text" placeholder="Subject.."></td>
            <td align="center" height="50"><input type="text" placeholder="Subject.."></td>
            <td align="center" height="50"><input type="text" placeholder="Subject.."></td>
            <td align="center" height="50"><input type="text" placeholder="Subject.."></td>
        </tr>
    </table>
    <button type="submit">Submit</button>
</body>

</html>