<!DOCTYPE html>
<html>

<body>
    <h1 align="center">{{ schoolName }}</h1>
    <h2 align="center">TIME TABLE</h2>
    <h2 align="center">Class Play to Ten</h2>

    <table border="5" cellspacing="0" align="center">
        <!--<caption>Timetable</caption>-->
        <tr>
            <td align="center" height="50"
                width="100"><br>
                <b>Class</b></br>
            </td>
            <td align="center" height="50"
                width="100" colspan="7">
                <b>Date, Weekday & Subject</b>
            </td>
        </tr>
        <tr>
            <td align="center" height="50"
                width="100">
            </td>
            <td align="center" height="50"
                width="100">
                {{ date }}
                {{ weekday }}
            </td>
            <td align="center" height="50"
                width="100">
                {{ date2 }}
                {{ weekday2 }}
            </td>
            <td align="center" height="50"
                width="100">
                {{ date3 }}
                {{ weekday3 }}
            </td>
            <td align="center" height="50"
                width="100">
                {{ date4 }}
                {{ weekday4 }}
            </td>
            <td align="center" height="50"
                width="100">
                {{ date5 }}
                {{ weekday5 }}
            </td>
            <td align="center" height="50"
                width="100">
                {{ date6 }}
                {{ weekday6 }}
            </td>
            <td align="center" height="50"
                width="100">
                {{ date7 }}
                {{ weekday7 }}
            </td>
        </tr>
        <tr>
            <td align="center" height="50">
                <b>Play</b></td>
            <td align="center" height="50">{{ p1 }}</td>
            <td align="center" height="50">{{ p2 }}</td>
            <td align="center" height="50">{{ p3 }}</td>
            <td align="center" height="50">{{ p4 }}</td>
            <td align="center" height="50">{{ p5 }}</td>
            <td align="center" height="50">{{ p6 }}</td>
            <td align="center" height="50">{{ p7 }}</td>
        </tr>
        <tr>
            <td align="center" height="50">
                <b>Nursery</b>
            </td>
            <td align="center"
                height="50">{{ n1 }}
            </td>
            <td align="center" height="50">{{ n2 }}</td>
            <td align="center" height="50">{{ n3 }}</td>
            <td align="center" height="50">{{ n4 }}</td>
            <td align="center" height="50">{{ n5 }}</td>
            <td align="center" height="50">{{ n6 }}</td>
            <td align="center" height="50">{{ n7 }}</td>
        </tr>
        <tr>
            <td align="center" height="50">
                <b>Class 1</b>
            </td>
            <td align="center" height="50">{{ c11 }}</td>
            <td align="center" height="50">{{ c12 }}</td>
            <td align="center" height="50">{{ c13 }}</td>
            <td align="center" height="50">{{ c14 }}</td>
            <td align="center" height="50">{{ c15 }}</td>
            <td align="center" height="50">{{ c16 }}</td>
            <td align="center" height="50">{{ c17 }}</td>
        </tr>
        <tr>
            <td align="center" height="50">
                <b>Class 2</b>
            </td>
            <td align="center" height="50">{{ c21 }}</td>
            <td align="center" height="50">{{ c22 }}</td>
            <td align="center" height="50">{{ c23 }}</td>
            <td align="center"
                height="50">{{ c24 }}
            </td>
            <td align="center" height="50">{{ c25 }}</td>
            <td align="center" height="50">{{ c26 }}</td>
            <td align="center" height="50">{{ c27 }}</td>
        </tr>
        <tr>
            <td align="center" height="50">
                <b>Class 3</b>
            </td>
            <td align="center"
                height="50">{{ c31 }}
            </td>
            <td align="center" height="50">{{ c32 }}</td>
            <td align="center" height="50">{{ c33 }}</td>
            <td align="center" height="50">{{ c34 }}</td>
            <td align="center" height="50">{{ c35 }}</td>
            <td align="center" height="50">{{ c36 }}</td>
            <td align="center" height="50">{{ c37 }}</td>
        </tr>
        <tr>
            <td align="center" height="50">
                <b>Class 4</b>
            </td>
            <td align="center" height="50">{{ c41 }}</td>
            <td align="center" height="50">{{ c42 }}</td>
            <td align="center" height="50">{{ c43 }}</td>
            <td align="center"
                height="50">{{ c44 }}
            </td>
            <td align="center" height="50">{{ c45 }}</td>
            <td align="center" height="50">{{ c46 }}</td>
            <td align="center" height="50">{{ c47 }}</td>
        </tr>
        <tr>
            <td align="center" height="50">
                <b>Class 5</b>
            </td>
            <td align="center" height="50">{{ c51 }}</td>
            <td align="center" height="50">{{ c52 }}</td>
            <td align="center" height="50">{{ c53 }}</td>
            <td align="center"
                height="50">{{ c54 }}
            </td>
            <td align="center" height="50">{{ c55 }}</td>
            <td align="center" height="50">{{ c56 }}</td>
            <td align="center" height="50">{{ c57 }}</td>
        </tr>
        <tr>
            <td align="center" height="50">
                <b>Class 6</b>
            </td>
            <td align="center" height="50">{{ c61 }}</td>
            <td align="center" height="50">{{ c62 }}</td>
            <td align="center" height="50">{{ c63 }}</td>
            <td align="center"
                height="50">{{ c64 }}
            </td>
            <td align="center" height="50">{{ c65 }}</td>
            <td align="center" height="50">{{ c66 }}</td>
            <td align="center" height="50">{{ c67 }}</td>
        </tr>
        <tr>
            <td align="center" height="50">
                <b>Class 7</b>
            </td>
            <td align="center" height="50">{{ c71 }}</td>
            <td align="center" height="50">{{ c72 }}</td>
            <td align="center" height="50">{{ c73 }}</td>
            <td align="center"
                height="50">{{ c74 }}
            </td>
            <td align="center" height="50">{{ c75 }}</td>
            <td align="center" height="50">{{ c76 }}</td>
            <td align="center" height="50">{{ c77 }}</td>
        </tr>
        <tr>
            <td align="center" height="50">
                <b>Class 8</b>
            </td>
            <td align="center" height="50">{{ c81 }}</td>
            <td align="center" height="50">{{ c82 }}</td>
            <td align="center" height="50">{{ c83 }}</td>
            <td align="center"
                height="50">{{ c84 }}
            </td>
            <td align="center" height="50">{{ c85 }}</td>
            <td align="center" height="50">{{ c86 }}</td>
            <td align="center" height="50">{{ c87 }}</td>
        </tr>
        <tr>
            <td align="center" height="50"><b>Class 9</b></td>
            <td align="center" height="50">{{ c91 }}</td>
            <td align="center" height="50">{{ c92 }}</td>
            <td align="center" height="50">{{ c93 }}</td>
            <td align="center" height="50">{{ c94 }}</td>
            <td align="center" height="50">{{ c95 }}</td>
            <td align="center" height="50">{{ c96 }}</td>
            <td align="center" height="50">{{ c97 }}</td>
        </tr>
        <tr>
            <td align="center" height="50"><b>Class 10</b></td>
            <td align="center" height="50">{{ c101 }}</td>
            <td align="center" height="50">{{ c102 }}</td>
            <td align="center" height="50">{{ c103 }}</td>
            <td align="center" height="50">{{ c104 }}</td>
            <td align="center" height="50">{{ c105 }}</td>
            <td align="center" height="50">{{ c106 }}</td>
            <td align="center" height="50">{{ c107 }}</td>
        </tr>
    </table>


<button id="togglee" onclick="action(),window.print(), timeFunction()">Print</button>
<br>
<script>
    var hidden = false;
    function action() {
        hidden = !hidden;
        if(hidden) {
            document.getElementById('togglee').style.visibility = 'hidden';
        } else {
            document.getElementById('togglee').style.visibility = 'visible';
        }
    }
    function timeFunction() {
            setTimeout(function(){
             document.getElementById('togglee').style.visibility = 'visible';
             }, 1000);
        }
</script>
</body>

</html>