<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    Suggession
</head>
<body>
Class Suggestions <br>
Today is {{ weekday }} <br>
Bangla Suggestion: {{ bangla }} <br>
English Suggestion: {{ english }} <br>
Math Suggestion: {{ math }} <br>
Science Suggestion: {{ science }} <br>
Social Science Suggestion: {{ social }} <br>
Islam Suggestion: {{ islamReligion }} <br>
Hindu Suggestion: {{ hinduReligion }} <br>
Boudhu Suggestion: {{ boudhuReligion }} <br>
Cristan Suggestion: {{ cristantianReligion }} <br>
Arts and Crafts Suggestion: {{ artsAndCrafts }} <br>
Physical Education Suggestion: {{ physicalEducation }} <br>
Music Suggestion: {{ music }} <br>
Comment: {{ comment }} <br>
</body>
</html>