<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Registration Form</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- LINEARICONS -->
		<link rel="stylesheet" href="/static/fonts/linearicons/style.css">

		<!-- STYLE CSS -->
		<link rel="stylesheet" href="/static/css/signup-style.css">
	</head>

	<body>

		<div class="wrapper">
			<div class="inner">
				<img src="/static/images/image-1.png" alt="" class="image-1">
				 <form method="POST" id="register-form" class="register-form">
					{% csrf_token %}
					<h3>New Account?</h3>
					<div class="form-holder">
						<span class="lnr lnr-text-format"></span>
						<input type="text" class="form-control" name="first_name" value="{{data.first_name}}" placeholder="First name"/>
					</div>
					<div class="form-holder">
						<span class="lnr lnr-text-format"></span>
						<input type="text" class="form-control" name="last_name" value="{{data.last_name}}" placeholder="Last name"/>
					</div>
					<div class="form-holder">
						<span class="lnr lnr-user"></span>
						<input type="text" class="form-control" name="username" value="{{data.username}}" placeholder="Username"/>
					</div>
					<div class="form-holder">
						<span class="lnr lnr-envelope"></span>
						<input type="email" class="form-control" name="email" value="{{data.email}}" placeholder="Email address"/>
					</div>
					<div class="form-holder">
						<span class="lnr lnr-lock"></span>
						<input type="password" class="form-control" name="password" id="password" value="{{data.password}}" placeholder="Password"/>
					</div>
					<div class="form-holder">
						<span class="lnr lnr-lock"></span>
						<input type="password" class="form-control" name="password2" value="{{data.password2}}" placeholder="Confirm Password"/>
					</div>
					{% for field in form %}
						<div class="fieldWrapper">
							{{ field.errors }}
						</div>
					{% endfor %}
                    {% for message in messages %}
						<p id="messages">{{message}}</p>
					{% endfor %}
					<button type="submit" name="signup_submit" id="submit_button" class="form-submit" value="Sign up">Sign Up</button><br><br>
                     <p class="loginhere" align="center">Already have an account ? <a href="../login/" class="loginhere-link">Login here</a>
                    </p>
				</form>

				<img src="/static/images/image-2.png" alt="" class="image-2">
			</div>

		</div>

		<script src="/static/js/signup-jquery-3.3.1.min.js"></script>
		<script src="/static/js/signup-main.js"></script>
	</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>